<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<h1 id="comments-prompt" class="col-sm-8 col-sm-offset-4"> If WBEZ investigates this question, what should we consider? What's your experience with this? 
  <div class='comment-guideline'>
    <%= render partial:'guidelines', locals:{guideline_content_partial:'comments_guideline_content', link_label:'Commenting Guidelines', placement: 'left', popover_id: 'comment-guideline-link'} %>
  </div>
</h1>
<div id="disqus_thread" class="col-sm-8 col-sm-offset-4"></div>
<script type="text/javascript">
var disqus_shortname = '<%= DISQUS_SHORTNAME %>'; 
var disqus_identifier = "question-" + <%=@question.id%>;
var disqus_title = 'Curious City';
var disqus_url = '<%=request.original_url%>';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
