<p>Your questions and comments inform, enrich and drive Curious City reporting. While sparking or contributing to the meaningful discussions, please follow these guidelines:</p>

<h4>DO:</h4>

<ul>
  <li>Keep your comments focused on the topic at hand.</li>
  <li>Be respectful of all who post on this blog – if you disagree with someone, be polite.</li>
  <li>Acknowledge the source of any material that’s not your own.</li>
</ul>
<h4>DO NOT:</h4>
<ul>
  <li>Use profanity, personal attacks or hate speech.</li>
  <li>Promote yourself, a business or try to raise money.</li>
  <li>“Feed the trolls:” don’t respond to inflammatory or obscene posts, just flag them.  </li>
</ul>
<p>We reserve the right to: edit questions for clarity and brevity, close a comment thread, curate comments, not publish rumors or allegations we know to be unsubstantiated or false and to remove posts and not post questions that don’t follow these guidelines.</p>


