<script>

  $(document).ready(function(){ 
    $('#examples_link').popover({trigger: 'click', placement: 'bottom', html : true });
   });

  $('#examples_link').click(function (e) {
    e.stopPropagation();
  });

  $(document).click(function (e) {
    if (($('.popover').has(e.target).length == 0) || $(e.target).is('.close')) {
      $('#examples_link').popover('hide');
    }
  });
</script>

<a href="javascript:void(0);" role="button" class="popover-test" id="examples_link" title="" data-content="<p><strong>What makes a good Curious City question?</strong>
  To increase the chances of WBEZ picking your question for a vote, make sure it satisfies these guidelines:
  </p> 
  <p>
  <strong>Local Relevance:</strong> Questions that in some way relate to Chicago or the region. 
  Example of an irrelevant question: Why is Missoula, Montana such a popular spot for fishing?
  Example of a relevant question: Why is Chicago’s Navy Pier such a popular spot for fishing?  
  </p>  
  <p>
  <strong>Unbiased:</strong> Curiosity requires an open mind and impartiality. 
  Example of a biased question:  Why are the CTA’s bus drivers and train operators so bad at their jobs?
  Example of an unbiased question: Why do the CTA’s buses and trains sometimes arrive at the same time even though they can track each other?
  </p>
  <p>
  <strong>Clearly stated:</strong> Read your question to be sure it makes sense and do your best with spelling and grammar.
  Example of an unclear question: Burbs in Chicago county and sum others no? 
  Example of a clear question: Why are some suburbs part of Chicago's Cook County and others aren't? 
  </p> 
  <p>
  <strong>We will NOT post or consider answering any questions that:</strong>
  <ul>
    <li>are libelous, use profanity, personal attacks or hate speech</li>
    <li>promote a business or person</li>
    <li>try to raise money</li>
    <li>show bias</li>
</ul>"data-original-title='<strong>Guidelines</strong><a class="close" href="javascript:void(0);">&times;</a>'>Show some good question examples</a>

