<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->

  <p><strong>What makes a good M I Curious question?</strong> To increase the chances of Michigan Radio picking your question for a vote, make sure it satisfies these guidelines:</p><p><strong>Relevance to Michigan:</strong> Questions that in some way relate to Michigan or the region. Example of an irrelevant question: Why is Missoula, Montana such a popular spot for fishing? Example of a relevant question: Why is Belle Isle such a popular spot for fishing?</p>
<p><strong>Unbiased:</strong> Curiosity requires an open mind and impartiality. Example of a biased question: Why are the Amtrak train engineers so bad at their jobs? Example of an unbiased question: Why are the Amtrak trains still so late even after the state bought the tracks?</p>
<p><strong>Clearly stated:</strong> Read your question to be sure it makes sense and do your best with spelling and grammar. Example of an unclear question: Animals on flag, what the what? Example of a clear question: What are the animals on the Michigan flag and why were they selected?</p>
<p><strong>We will NOT post or consider answering any questions that:</strong></p><ul>
  <li>Are libelous, use profanity, personal attacks or hate speech</li>
  <li>Promote a business or person</li>
  <li>Try to raise money</li>
  <li>Show bias</li>
</ul>
  