<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<div class="modal fade" id="question-received-modal" role="dialog" aria-labelledby="askQuestionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h4 class='modal-title'>Thanks for submitting your question!</h4> 
      </div>
      <div class="modal-body">
        <h4>So what happens now?</h4>
        <ul>
          <li>Your question will now live in the <%= link_to "new + unanswered archive", filter_questions_path(status: 'archive'), :id => 'archive-link', :target => "_blank" %>.</li> 
          <li>We mine that archive and select questions for <%= link_to "public vote", root_path, :id => 'public-vote-link', :target => "_blank" %>. If your question is selected we'll contact you via the email address you provided.</li> 
          <li>Winning questions are then investigated by you and WBEZ reporters both <%= link_to "online", "http://www.wbez.org/series/curious-city", :id => 'online-link', :target => "_blank" %> and on air at <%= link_to "WBEZ 91.5 FM", "http://www.wbez.org/player", :id => 'wbez-link', :target => "_blank" %>.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
