<div class="modal fade" id="question-received-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h4 class='modal-title'>Thanks for submitting your question!</h4> 
      </div>
      <div class="modal-body">
        <h4>So what happens now?</h4>
        <ul>
          <li>Your question will now live in the <%= link_to "new + unanswered archive", "#", :id => 'archive-link' %>.</li> 
          <li>We mine that archive and select questions for <%= link_to "public vote", root_path, :id => 'public-vote-link' %>. If your question is selected we'll contact you via the email address you provided.</li> 
          <li>Winning questions are then investigated by you and WBEZ reporters both <%= link_to "online", "http://www.wbez.org/series/curious-city", :id => 'online-link' %> and on air at <%= link_to "WBEZ 91.5 FM", "http://www.wbez.org/player", :id => 'wbez-link' %>.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
