<div class="modal fade" id="question-received-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h4 class='modal-title'>Thanks for submitting your question!</h4> 
      </div>
      <div class="modal-body">
        <%= link_to "new + unanswered archive", "#", :id => 'archive-link' %> 
        <%= link_to "public vote", "#", :id => 'public-vote-link' %> 
        <%= link_to "online", "#", :id => 'online-link' %> 
        <%= link_to "WBEZ 91.5 FM", "#", :id => 'wbez-link' %>
      </div>
    </div>
  </div>
</div>
