<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    function shorten(text){
      return $.trim(text).substring(0, 70).split(" ").slice(0, -1).join(" ") + "...";
    }

    var addthis_ui_config =
    {
      services_compact: 'facebook, twitter, google_plusone_share, tumblr'
    }
    var addthis_share_config = 
    {
        url: $("#question-text").data("url"), 
        title: "Curious City - " + shorten($("#question-text").data("displaytext"))
    }
    addthis.button("#btn_share", addthis_ui_config, addthis_share_config);
  });
</script>

<div class="share_button">
    <a id="btn_share"></a>
</div>


