<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js"></script>
<script type="text/javascript">
  var addthis_ui_config =
  {
    services_compact: 'facebook, twitter, google_plusone_share, tumblr'
  }
  var addthis_share_config = 
  {
      url: $("#question-text").data("url"), 
      title: "Curious City - " + $("#question-text").data("displaytext"),
      description: "Curious City - " + $("#question-text").data("displaytext")
  }
  addthis.button("#btn_share", addthis_ui_config, addthis_share_config);
</script>

<div class="share_button">
    <a id="btn_share"></a>
</div>
