<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<%= javascript_include_tag "addthis_widget"%>
<script type="text/javascript">
  $(document).ready(function(){
    function shorten(text){
      return $.trim(text).substring(0, 70).split(" ").slice(0, -1).join(" ") + "...";
    }

    var addthis_ui_config =
    {
      services_compact: 'facebook, twitter, google_plusone_share, tumblr'
    }
    var addthis_share_config = 
    {
        url: $("#question-text").data("url"), 
        title: "Curious City - " + shorten($("#question-text").data("displaytext"))
    }
    addthis.button("#btn_share", addthis_ui_config, addthis_share_config);
  });
</script>

<div class="share_button hidden-xs">
    <a id="btn_share"></a>
</div>


