$('document').ready(function() {
  pictures_html = "";
  <% @pictures.each do |picture| %>
    <% url = "http://farm#{picture.farm}.staticflickr.com/#{picture.server}/#{picture.id}_#{picture.secret}.jpg" %>
    pictures_html +=  '<span><%= image_tag url, :size => "#{picture.width}x#{picture.height}" %></span>';
  <% end %>
  $('#pictures').html(pictures_html);
});
