$('document').ready(function() {
  pictures_html = "";
  <% @pictures.each do |picture| %>
    pictures_html +=  '<span class="thumbnail"><%= image_tag picture.url, :size => "#{picture.width}x#{picture.height}", :data => { :owner => picture.owner, :attributionurl => picture.attribution_url } %></span>';
  <% end %>
  $('#pictures').html(pictures_html);

  var selected;
  
  $('span.thumbnail').click(function ( e ) {
    if (selected !== undefined) {
      selected.setAttribute("class", "thumbnail");
    }
    selected = this;
    this.setAttribute("class", "thumbnail selected-thumbnail");
    $('#question_picture_url').val( $(".selected-thumbnail img").attr('src') );
    $('#question_picture_owner').val( $(".selected-thumbnail img").attr('data-owner') );
    $('#question_picture_attribution_url').val( $(".selected-thumbnail img").attr('data-attributionurl') );
  });
});
