<div class="container-padding">
  <div class="questions">
    <% @questions.each do |question| %>
      <div class="row">
        <div class="question", id="question<%= question.id.to_s %>">
          <div class="question-image">
            <%= render partial: "questions/question_image", locals:{ question: question} %>
          </div>
          <%= render partial:'shared/question_text', locals:{question:question} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/comment_count' unless Rails.env.test?%>
