<div class="container-padding">
  <div class="questions">
    <% @questions.each do |question| %>
      <div class="row">
        <div class="question", id="question<%= question.id.to_s %>">
          <div class="question-image">
            <img src="http://farm2.staticflickr.com/1437/1238664937_4d7dc8aace.jpg" alt="question image">
          </div>  
          <div class="question-text">
            <%= question.display_text %>
            <p class="author">Asked by <%=question.display_author%></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
