<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<div class="container-padding">
  <br>
  <h4>Thanks for submitting your question!</h4> 
  <br>
  <div>
    <h4>So what else can you do now?</h4>
    <ul>
      <li> <%= link_to "Vote", root_url, id:"vote-link" %> </li>
      <li><%= link_to "Browse Answers", filter_questions_url(status: "answered"), id:"browse-answers-link" %></li>
      <li><%= link_to "Browse Questions", filter_questions_url(status: "archive"), id:"browse-questions-link" %></li>
    </ul>
  </div>
</div>
