









<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<div class="container-padding about-page">
  <div class="about col-sm-8 pull-right">
    <ul>
      <li>
      Do you have a question about Michigan or about the people who live here?</li>
      <li>Is there anything you’ve always wondered about?</li>
      <li>How about something that you’ve found peculiar or just downright confusing? </li>
    </ul>
    <p><h3><em>Your curiosity fuels Michigan Radio&rsquo;s  M I Curious series!</em></h3></p>
<p>Michigan Radio&rsquo;s <em>M I Curious</em> series is a news experiment  that seeks to include you in our editorial decision-making, make journalism  more transparent and strengthen multimedia coverage of our state. The project is  modeled after the <a href="http://curiouscity.wbez.org/"><em>Curious  City</em></a> series at WBEZ  in Chicago. </p>
<p>All <em>M I Curious</em> stories originate with  questions submitted by the public. Michigan Radio  producers and editors sift through those questions and work together with the  public to find the best answers.<br />
  Each month, we put  questions into voting rounds so you can help make the final decision about what  we investigate together.<br />
  </p>
<p>We know you&rsquo;re  curious, so drop your question into the box above and help us track down  answers. You could help  us conduct interviews, conduct research, find photos and documents, and appear  on Michigan Radio.<br />
  There are a lot  of ways to contribute to our stories beyond asking questions. Follow Michigan  Radio&rsquo;s <em>M I Curious</em> series on&nbsp;<a href="https://www.facebook.com/michiganradio" target="blank">Facebook</a>,&nbsp;<a href="https://twitter.com/MichiganRadio" target="blank">Twitter</a>,&nbsp;or  at <a href="http://michiganradio.org/">michiganradio.org</a>.<br />
  Your comments,  leads, and insights can make all the difference in our stories.<br />
  </p>
<h3>Faq</h3>
  <p><strong>How do you collect questions?</strong> <br />
  We collect questions through this website (top of the page),  through phone messages left at (248) 962-3806, or when we&rsquo;re out and about  talking with people around the state.</p>
<p><strong>Are there questions you do not accept?</strong> <br />
  All questions asked make it to the question archive unless they  don&rsquo;t meet our <a href="http://michiganradio.org/online-user-agreement">online guidelines</a> for  decorum, fairness, or the person asking the question has an obvious conflict of  interest. We do not investigate questions about Michigan Radio or questions  posed by staff at Michigan Radio.<br />
  </p>
<p><strong>How do you pick the questions for voting  rounds?</strong> <br />
  Our producers and editors identify questions that have potential  to be answered by staff, freelancers, or volunteers. We&rsquo;ll try to look for a  theme (e.g., &ldquo;history&rdquo;) and fill the voting round with questions related to that  theme. We&rsquo;ll also consider story location, tone, or timeliness. Sometimes we&rsquo;ll  create voting rounds with a variety of novel subjects. These voting rounds  might not fit into an obvious, overall theme.<br />
  </p>
<p><strong>What happens if my question is in a voting  round?</strong> <br />
  Well, first off, congrats! We keep voting rounds open for one week.  We notify question submitters when their question is selected so they can ask  friends, family and social networks for their support.<br />
  If your question wins a voting round - double congrats! Michigan  Radio staff will discuss options for how you might participate in the  investigation, depending on your interest and schedule, as well as the schedule  of reporters or producers. <br />
  </p>
<p><strong>What happens if my question is in a voting  round and doesn&rsquo;t win? Will it still get answered?</strong> <br />
  There is hope for your question! Our editors and producers scan  the question archive. They could decide to investigate questions that never make  into a voting round, or they&rsquo;ll find that a question has already been answered  in some way — either through a previous story by Michigan Radio or another media  outlet. And there&rsquo;s another way your question might be answered: The public  weighs in! Anyone can comment on questions. If you know the answer to someone  else&rsquo;s question or even have leads or points others should consider, don&rsquo;t be  shy! Let them know the information you have and whenever possible, cite your  sources.<br />
  </p>
<p><strong>Why do you change the wording of some questions  when they enter a voting round?</strong> <br />
  We edit some questions for clarity and brevity. Editors and  producers attempt to recast otherwise relevant or provocative questions that  mischaracterize small details or remain too broad. The goal is to indicate what  lines of investigation Michigan Radio is likely to pursue, so the public can  clearly understand the choices and vote deliberately.</p>


<strong>Special Thanks:<br /></strong>
  To Jennifer Brandel and the folks at WBEZ&rsquo;s Curious City, of  course! This unique news experiment is a great way for us to work together with  you on the stories we&rsquo;re all curious about. We&rsquo;d also like to thank Harrison  Lott for his graphic design help, and Jordan Haines for his technical help in  getting this website up and running.
</div>

  <div class="faq col-sm-4">
    <%= image_tag "about.png"%>
  
  
	
	
  </div>
<div class="col-sm-8 team bio">

</div>
<div class="col-sm-8 credit">
  
</div>
</div>