<script>      
  $( document ).ready(function() {
    if(window.location.hash == '#ask') {
      $('#ask-question-form').submit();
    } 

    $('.question').on('mouseenter','.vote', function(){
      $(this).closest('.question').addClass('hover');    
      $(this).closest('.question').find('.image-container').addClass('hover');    
      $(this).closest('.question').find('.comment-count-link').addClass('hover');    
      $(this).closest('.question').find('.question-link').addClass('hover');    
    });

    $('.question').on('mouseleave','.vote', function(){
      $(this).closest('.question').removeClass('hover');    
      $(this).closest('.question').find('.image-container').removeClass('hover');    
      $(this).closest('.question').find('.comment-count-link').removeClass('hover');    
      $(this).closest('.question').find('.question-link').removeClass('hover');    
    });

  });
</script>
<div class="container-padding">
  <%= render "voting" %>
</div>
