<script>      
  $( document ).ready(function() {
    if(window.location.hash == '#ask') {
      $('#ask-question-form').submit();
    } 

    function addHover(question){
      $(question).closest('.question').addClass('hover');    
      $(question).closest('.question').find('.image-container').addClass('hover');    
      $(question).closest('.question').find('.comment-count-link').addClass('hover');    
      $(question).closest('.question').find('.question-link').addClass('hover');    
    }

    function removeHover(question){
      $(question).closest('.question').removeClass('hover');    
      $(question).closest('.question').find('.image-container').removeClass('hover');    
      $(question).closest('.question').find('.comment-count-link').removeClass('hover');    
      $(question).closest('.question').find('.question-link').removeClass('hover');    
    }

    $('.question').on('mouseenter','.vote', function(){
      addHover(this);
    });

    $('.question').on('mouseleave','.vote', function(){
      removeHover(this);
    });

    $('.question').on('mouseenter','.vote-xs', function(){
      addHover(this);
    });

    $('.question').on('mouseleave','.vote-xs', function(){
      removeHover(this);
    });

  });
</script>
<div class="container-padding">
  <%= render "voting" %>
</div>
