<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<script>      
  $( document ).ready(function() {
    if(window.location.hash == '#ask') {
      $('#ask-question-form').submit();
    } 

    function addHover(question){
      $(question).closest('.question').addClass('hover');    
      $(question).closest('.question').find('.image-container').addClass('hover');    
      $(question).closest('.question').find('.comment-count-link').addClass('hover');    
      $(question).closest('.question').find('.question-link').addClass('hover');    
    }

    function removeHover(question){
      $(question).closest('.question').removeClass('hover');    
      $(question).closest('.question').find('.image-container').removeClass('hover');    
      $(question).closest('.question').find('.comment-count-link').removeClass('hover');    
      $(question).closest('.question').find('.question-link').removeClass('hover');    
    }

    $('.question').on('mouseenter','.vote', function(){
      addHover(this);
    });

    $('.question').on('mouseleave','.vote', function(){
      removeHover(this);
    });

    $('.question').on('mouseenter','.vote-xs', function(){
      addHover(this);
    });

    $('.question').on('mouseleave','.vote-xs', function(){
      removeHover(this);
    });

  });
</script>
<div class="container-padding">
  <%= render "voting" %>
</div>
