<%= render partial:'shared/browse_voting_round' %>
<h1>Winning Question</h1>
<div class="question">
  <%= @voting_round.winner.display_text %>
</div>
<br>
<% @voting_round.questions.order('vote_number').reverse[1..-1].each do |question| %>
  <div class="question">
    <%= question.display_text %>
  </div>
<% end %>
