<img src="<%= image_url( smaller_picture(question)) %>" alt="question image">
<span class="image-credits"> 
  <%= link_to " CC image by " + question.picture_owner, question.picture_attribution_url, target: "blank" %> 
</span>
