<div>
<% if @voting_round %>
  <div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-8 right-col">
      <div class="super">
        <h1>Which should we investigate next?</h1>
      </div>
      <div class="sub">
        <h5>Select the question you’d most like answered.</h5>
      </div>
    </div>
  </div>
    <div id="questions">
      <% @voting_round.questions.each do |question| %>
        <div class="question">
          <div class="row">
            <div class="col-sm-4 question-image">
              <img src="http://farm2.staticflickr.com/1437/1238664937_4d7dc8aace.jpg" alt="question image">
            </div>
            <%= if !voted? then link_to "", vote_path(question_id: question.id), method: :post, class: "vote", id: "vote"+question.id.to_s end %>
            <%= if voted? and last_vote?(question.id) then content_tag(:div, nil, id: 'vote_confirm' + question.id.to_s, class: "voted") end %>
            <div class="col-lg-8 question-text">
              <h2><%= question.display_text %></h2>
              <p class="author">Asked by <%=question.display_author%></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<% end %>
</div>
