<h1>Main page</h1>

<head>
  <title>Curious City</title
</head>

<body>
  </h1>Ask a question</h1>
  <%= form_tag ask_question_path do %>
  <%= text_field_tag :display_text %>
  <%= submit_tag "Ask" %>
  <% end %>
  <%= render "voting" %>
</body>
