<h1>Main page</h1>

<head>
  <title>Curious City</title
</head>

<body>
  </h1>Ask a question</h1>
  <%= form_for(:question, url: ask_question_path, :method => :get) do |f| %>

  <%= f.text_field :text %>
  <%= f.submit "Ask" %>
  <% end %>
</body>
