<head>
  <title>Curious City</title>
</head>

<body>
  <script>      
    $( document ).ready(function() {
      if(window.location.hash == '#ask') {
        $('#ask-question-form').submit();
        $('#myModal').modal('show');
      }
    });
  </script>
  <%= render "navigation" %>
  <%= render "voting" %>
</body>
