<% provide(:title, 'Edit Voting Round') %>
<h1>Edit voting round</h1>

<%= render 'form', :url => admin_voting_round_path(@voting_round) %>
<p>
<%= render 'questions' %>
</p>
<p>
  <%= link_to 'Show', admin_voting_round_path(@voting_round) %> |
  <%= link_to 'Back', admin_voting_rounds_path %>
</p>
