$nice-blue: #8ed8f8;
$hot-pink: #ff0066; 
$bold-blue: #00bff3;
$light_nice_blue: #3dcef6;
$grid-unit: 13px;
$crowded-room: 2%;
$container-padding: 10%;
.container {
  padding: 0px;
  margin: 0;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}
.container-padding {
  padding: 0 $container-padding;
}
.little-writing {
  font-size: 10px; 
}
.no-changing {
  resize: none;
}

@import "modules/all"
