@import "modules/all";
@import "modules/common_features";
$nice-blue: #03bef5;
$hot-pink: #ff0066; 
$bold-blue: #00bff3;
$light_nice_blue: #3dcef6;
$purple: #662d91;
$blue: #6dcff6;
$light-blue: #91d8f6;
$light-green: #00FF00;

$grid-unit: 16px;

$crowded-room: 2%;
$container-padding: 10%;
$voting-round-image-width: $grid-unit * 25.5;
$question-image-width: $voting-round-image-width + $grid-unit * 3;

$logo-size: 350px;
$carrot-width: 20px;

.container {
  padding: 0px;
  margin: 0 auto;
  max-width: 2000px;
  width: 100%;
}
.container-padding {
  padding: 0 $container-padding;
}
.little-writing {
  font-weight: normal;
  font-size: 10px; 
}

.no-changing {
  resize: none;
}

.submit-wrap {
  position: relative;
  padding: $grid-unit;
  
  .carrot {
    position: absolute;
    top: 40%;
    @include set-size($carrot-width, 24px);
    background: image_url("carrot.png") no-repeat;
    left: -1px;
  }

  .submit-question-container {
    border: hot-pink-border();
    height: 90px;
    padding: $crowded-room;
    border-radius: 12px;
  }
}
.submit-question-text {
  height: 100%;
  border-style:none;
  overflow: hidden;
  resize: none;
  outline: none;
  font-size: 16;
  line-height: 18px;
  width: 90%;
}
.vote {
  @extend .vote-button;
  cursor: pointer;
  background-position: 0px 0;
  right: 0;

  &:hover {
    background-position:-60px 0;
  }
}
.voted {
  @extend .vote-button;
  background-position: -60px 0;
}

.responses {
  position: relative;
  margin-left: $question-image-width;
}

.response-image {
  float: left;
  left: $question-image-width - 8 * $grid-unit;
  margin-top: $grid-unit;
  position: relative;
}

%response-image-graphic {
  float: right;
  overflow: hidden;
  background-repeat: no-repeat;
}

.response-text {
  position: relative;
  display: inline;
  * {
    margin: $grid-unit 0; 
  }
  h4 {
    font-size: $grid-unit * 2;
  }
  p {
    word-wrap: break-word;
  }
  a {
    line-height: $grid-unit * 3;
    font-size: $grid-unit * 1.5;
  }
}

%response-link {
  display: inline;
  position: relative;
  float: left;
}

.blue-hover {
  -webkit-transition: color,background-color .50s linear;
  -webkit-transition-property: color, background-color;
  -webkit-transition-duration: initial, 0.50s;
  -webkit-transition-timing-function: initial, linear;
  -webkit-transition-delay: initial, initial;
  transition: color,background-color .50s linear;
  transition-property: color, background-color;
  transition-duration: initial, 0.50s;
  transition-timing-function: initial, linear;
  transition-delay: initial, initial;
  background-color: $bold-blue;
  color: white;
}

.sponsor-logos {
  margin: 0px 10%;
}

.logo-small {
    float: right;
    width: 50px;
    height: auto;
    margin: 3px;
}

.logo-small.tw-logo {
    margin-top: 20px;
    width: 100px;
}

.logo-small.kf-logo {
    margin-top: 7px;
}

a {
  text-decoration: underline;
  color: $bold-blue;
  &:hover {
    color: $blue;
  }
}

.clearfix {
  clear: both;
}

.col-sm-4 {
  padding: 0;
}

.col-sm-2 {
  padding: 0;
}

.col-sm-3 {
  padding: 0;
}


