/*
Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.
*/
@import "modules/all";
@import "modules/common_features";
$nice-blue: #03bef5;
$hot-pink: #ff0066; 
$bold-blue: #00bff3;
$light_nice_blue: #3dcef6;
$purple: #662d91;
$blue: #6dcff6;
$light-blue: #91d8f6;
$light-green: #00FF00;

$grid-unit: 16px;

$crowded-room: 2%;
$container-padding: 10%;
$voting-round-image-width: $grid-unit * 25.5;
$question-image-width: $voting-round-image-width + $grid-unit * 3;

$logo-size: 350px;
$carrot-width: 18px;

$mobile-max-width: 767px;


.container {
  padding: 0px;
  margin: 0 auto;
  max-width: 2000px;
  width: 100%;
}
.container-padding {
  padding: 0 $container-padding;
}
.little-writing {
  font-weight: normal;
  font-size: 10px; 
}

.no-changing {
  resize: none;
}

.submit-wrap {
  position: relative;
  padding: $grid-unit;
  padding-right: 0;
  
  .carrot {
    position: absolute;
    top: 40%;
    @include set-size($carrot-width, 24px);
    background: image_url("carrot.png") no-repeat;
    left: 1px;
  }

  .submit-question-container {
    border: hot-pink-border();
    height: 90px;
    padding: $crowded-room;
    border-radius: 12px;
  }
}

.submit-question-text {
  height: 100%;
  border-style:none;
  overflow: hidden;
  resize: none;
  outline: none;
  font-size: $grid-unit;
  line-height: 18px;
  width: 90%;
}

.vote {
  @extend .vote-button;
  cursor: pointer;
  background-position: 0px 0;
  right: 0;

  &:hover {
    background-position:-60px 0;
  }
}

.voted {
  @extend .vote-button;
  background-position: -60px 0;
  right: 0;
}

.vote.visible-xs, .voted.visible-xs {
  right: $grid-unit / 2;
  top: 38%;
}

.responses {
  position: relative;
  padding-left: 0;
}

.response-image {
  float: left;
  margin-top: $grid-unit;
  position: relative;
}

%response-image-graphic {
  float: right;
  overflow: hidden;
  background-repeat: no-repeat;
}

.response-text {
  position: relative;
  display: inline;
  * {
    word-wrap: break-word;
    margin: $grid-unit 0; 
  }
  h4 {
    font-size: $grid-unit * 2;
  }
  a {
    line-height: $grid-unit * 3;
    font-size: $grid-unit * 1.5;
  }
}

%response-link {
  display: inline;
  position: relative;
  float: left;
}

.blue-hover {
  -webkit-transition: color,background-color .50s linear;
  -webkit-transition-property: color, background-color;
  -webkit-transition-duration: initial, 0.50s;
  -webkit-transition-timing-function: initial, linear;
  -webkit-transition-delay: initial, initial;
  transition: color,background-color .50s linear;
  transition-property: color, background-color;
  transition-duration: initial, 0.50s;
  transition-timing-function: initial, linear;
  transition-delay: initial, initial;
  background-color: $bold-blue;
  color: white;
}

.logo-small {
    float: right;
    width: 50px;
    height: auto;
    margin: 3px;
}

.logo-small.tw-logo {
    margin-top: 20px;
    width: 100px;
}

.logo-small.kf-logo {
    margin-top: 7px;
}

a {
  text-decoration: underline;
  color: $bold-blue;
  &:hover {
    color: $blue;
  }
}

.clearfix {
  clear: both;
}

.col-sm-6 .col-sm-4 .col-sm-2 .col-sm-3{
  padding: 0;
}

@media (max-width: $mobile-max-width) {
  .container-padding {
    padding: $container-padding / 4; 
  }
  .submit-question-text {
    font-size: $grid-unit * .75;
  }
  .response-text {
    * {
      margin: $grid-unit * .75 0; 
    }
    h4 {
      font-size: $grid-unit * 1.5;
    }
    a {
      line-height: $grid-unit * 1.7;
      font-size: $grid-unit * 1.125;
    }
  }
  .response-image {
    margin-top: 0;
  }
}
