.categories-group {
  clear: right;

  .checkbox-group {
    float:left;
    padding-left: 3px;
    padding-right: 3px;

    label {
      font-weight: normal;
    }
  }
}

.submit-question-spec {
  position: relative;
  float: right;
  bottom: 1.5em;
  right: .3em;
  font-style: italic;
}

.voting-round {
  margin: 10px;
}

.question {
  border: 2.5px solid white;
  background-image:url(bg_dots.png);
  width:100%;
  position:relative;
  padding-bottom: 3px;
  margin-bottom: 3px;

  .row {
    border-top: 1px dotted #808184;
    background-color: transparent;
    -moz-transition: background-color .5s ease-in-out;
    -webkit-transition: background-color .5s linear;
    -o-transition: background-color .5s ease-in-out;
    height: 100px;
    width: 100%;
    margin: 0px;

    &:hover {
      background-color: #00bff3;
    }
  }

  h2 {
    color: #231F20;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    a {
      color: #231F20;

      &:hover {
        color: #44C8F5;
      }
    }
  }

  .question-image {
    float:left;
    height: 100%;
    width: 300px;
    position:relative;
    background:no-repeat;
    background-size: 100%;
    background-position: 0 50%;
    overflow:hidden;

    img {
      position: absolute;
      width: 85%;
    }

    h2 {
      position: absolute;
      right: 20%;
      margin: 0;
      color: white;
    }
  }

  .question-text {
    height: 100%;
    overflow:hidden;

    h2 {
      height: 40px;
      margin: 5px;
    }

    .author {
      position: absolute;
      bottom: 0px;
      right: 0px;
      padding: 5px;
      margin: 0px;
    }
  }
}

.vote {
  float: left;
  background-position: 0px 0;
  height: 50px;
  width: 50px;
  overflow: hidden;
  position: absolute;
  top: 25%;
  left: 230px;
  display: inline-block;
  cursor: pointer;
  background-image: url(votebutton.png);

  &:hover {
    background-position:-51px 0;
    background-color: transparent;
  }
}

.voted {
  background-position: -51px 0;
  background-color: transparent;
  height: 50px;
  width: 50px;
  top: 25%;
  left: 230px;
  overflow: hidden;
  position: relative;
  display:inline-block;
  background-image: url(votebutton.png);
}
