/*
Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.
*/
$question-height: $grid-unit * 8;

.categories-group {
  clear: right;
  .checkbox-group {
    float:left;
    padding: 0 3px;
    label {
      font-weight: normal;
    }
  }
}

.questions {
  padding-top: $grid-unit;
  padding-bottom: $grid-unit;
}

.question-background-xs {
  height: $question-height;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  opacity: 0.9;
}

.question-row {
  margin-left: 0;
  margin-right: 0;
}

.question {
  background-image: image_url("bg_dots.png");
  height: $question-height; 
  border-top: 1px dotted darkgray;
  @include smooth-transitions();
  margin: 2px 0px 2px 0px;
  &.highlight {
    cursor: pointer;
  }
}

.question.hover,.image-container.hover{
  @extend .blue-hover;
  background-image: none;
}

.question-text .question-link.hover.highlight {
  color: white;
}

.image-container.hover{
  @extend .blue-hover;
  opacity: 0.3;
}

.comment-count-link.hover {
  color: white;
}

.question-image {
  height: $question-height;
  background-position: 0 50%;
  overflow: hidden;
  margin-left: -15px;
  padding-right: 15px;
  img {
    background-size: cover;
    position: absolute;
    width: 92%;
    width: -webkit-calc(100% - 44px);
    width: -moz-calc(100% - 44px);
    width: -ms-calc(100% - 44px);
    width: -o-calc(100% - 44px);
    width: calc(100% - 44px);
    margin-top: -38px;
  }
  .rank-triangle {
    @include right-triangle(50px, top, right);
    right: 29.5px;
    top: 0;
  }
}

.rank-triangle-small {
  @include right-triangle(40px, top, left);
  left: 0;
  top: 0;
}

.answers {
  @extend .responses;
}

.answer-image {
  @extend .response-image;
}

.answer-link, .update-link {
  @extend %response-link;
}

.answer-text {
  @extend .response-text;
  a {
    position: relative;
    color: $nice-blue;
    text-decoration: underline;
  }
}

.updates {
  @extend .responses;
}

.update-image {
  @extend .response-image;
}

.update-text {
  @extend .response-text;
  a {
    position: relative;
    color: gray;

    &:hover {
      color: #767676;    
      text-decoration: none;
    }
  }
}

h2 {
  z-index: 1;
  right: $grid-unit * 4;
  margin: 0;
  color: white;
  &.rank {
    float: right;
    z-index: 2;
    position: relative;
    right: 15px;
    font-size: 25px;
    margin: $grid-unit/2 $grid-unit/2;
  }
  &.percentage {
    float: right;
    z-index: 2;
    position: relative;
    right: 12px;
    font-size: 25px;
    margin: 10 5px;
  }
}

.image-credits {
  position: absolute;
  bottom: 0;
  padding: 0 5px;
  width: 92%;
  background-image: image_url("bg_black-transparent.png"); 
  width: 92%;
  width: -webkit-calc(100% - 44px);
  width: -moz-calc(100% - 44px);
  width: -ms-calc(100% - 44px);
  width: -o-calc(100% - 44px);
  width: calc(100% - 44px);
 
  a { 
    &:link, &:visited, &:hover {
      color: white;
      font-size: 14px;
    }
  }
}

.question-text {
  font-weight: 400;
  font-size: $grid-unit * 1.125;
  line-height: 25px;
  padding: $grid-unit/2;
  padding-left: 15px;
  height: $question-height;

  &.question-show-text {
    height: auto;
    min-height: $question-height;
  }

  .author {
    position: absolute;
    bottom: 0;
    margin: 0px;
  }

  .question-link {
    margin-right: 50px + $grid-unit * 2; 
    position: absolute;
    color: black;
    text-decoration: none;

    &.highlight {
      color: $bold-blue;
    }
  }

  &.voting {
    .question-link{
      margin-right: $grid-unit;
    }
  }

  .checkmark {
    margin: $grid-unit;
  }
 
  .questionmark {
    @extend %response-image-graphic;
    @include set-size(50px, 50px);
    background-image: image_url("sprites.png");
    background-position: -150px 0px;
    left: 300px;
    margin: $grid-unit !important;
  }
}

.question-show-text {
  padding: 0;
}

#disqus_thread {
  background: white;
  background-image: image_url("bg_dots.png");
  padding: $grid-unit;
}

#comments-prompt {
  color: #999;
  line-height: 24px;
  font-weight: normal;
  font-size: 18px; 
  padding: 0;
  margin-top: $grid-unit * 3;
  margin-bottom: $grid-unit * 2;
}

.comment-count-link {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0px;
  padding: $grid-unit/2 $grid-unit/2 0 $grid-unit/2;
  margin: 0px;
  font-size: $grid-unit;
}

.popover-link {
  color: $bold-blue;
}

.popover {
  max-width: 500px;
  width: 500px;
}

.comment-guideline {
  position: relative;
  color: black;
  font-size: 12px; 
  a {
  float: right;
 }
}

.category-links {
  display: block;
  color: gray;
  a {
    color: $bold-blue;
    &:hover {
      color: $light-blue;
    }
  }
}

.voting-round-title {
  padding: 0;
}

.share_button {
  float: left;
  margin-top: $grid-unit;
}

.search {
  max-width: 38*$grid-unit;
}

@media (max-width: 1024px) {
  .carousel .carousel-inner .item a img{
    margin-top: 0px
  }
}

.dashboard{
  a {
    color: black;
    text-decoration: none;
  }

  table {
    background-color: whitesmoke;
    padding: $grid-unit/2;
  }
}

.voting-round-navigation {
  padding-top: $grid-unit * 3;
  padding-left: $grid-unit / 2;
}

#admin-question-table{
    border: 1px solid black;
    table-layout: fixed;
    width: 1250px;
}

#admin-question-table .small-cel {
    width: 70px;
}

#admin-question-table .medium-cel {
    width: 300px;
    overflow: hidden;
}

#admin-question-table td {
  width: 50px; 
  overflow: auto;
}

.img .bio-pic {
  padding-left: 0;

}

img#bio-pic {
   padding-left: 0;
  }

img#jenn-pic {
  padding-right: 0;
}

.bio {
  padding-right: 0;
  img {
    float: left;
    padding: $grid-unit;
    padding-top: 0;
    padding-left: 0;
    width: 250px;
    height: 238px;

  }

  p {
    text-align: justify;
  }
}

.faq {
  padding-left: 0;
   img {
    width: 100%;
    margin: $grid-unit * 2 $grid-unit $grid-unit 0;
    margin-top: $grid-unit * 2;
  }
  p {
    text-align: justify;
  }
}

.about {
  padding-right: 0;

  p {
    text-align: justify;
  }
}

.credit {
  padding-right: 0;

  p {
    text-align: justify;
  }

}

.team img {
  padding: $grid-unit/2 $grid-unit;
}

.tag-xs { font-size: 8px; }
.tag-sm { font-size: 11px; }
.tag-md { font-size: 14px; }
.tag-bg { font-size: 17px; }

.tint:before {  
  content: "";  
  display: block;  
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  background: rgba(0,0,0, 0.6);  
  -moz-transition: background .3s linear;  
  -webkit-transition: background .3s linear;  
  -o-transition: background .3s linear;  
  transition: background .3s linear;  
}  
.tint:hover:before {  
  background: none;  
}

@media (max-width: $mobile-max-width) {

  .ask_mobile {
    & label {
      font-size: 16px;
    }

    & #question_anonymous {
      min-height: 20px;
      min-width: 20px;
    }

    & #error_explanation {
      width: inherit;
    }
  }

  h2.rank {
    right: 0;
    margin: 8px 0;
  }

  h2.percentage {
    right: -18px;
  }

  .vote.visible-xs, .voted.visible-xs{
    position: relative;
    float: right;
    top: 25px;
    right: 0;
    margin-bottom: 15px;
    margin-left: 5px;
  }

  .question {
    position: relative;
    height: 280px;
    margin-bottom: $grid-unit;
  }
  .question.voting {
    height: auto;
    background-image: none;
    margin: 0;
  }
  .question.hover, .image-container.hover {
    background-color: transparent;
    color: white;
  }
  .tint.hover {
    &:before {
      @extend .blue-hover;
      background-color: $nice-blue;
      opacity: 0.5;
    }
  }
  .question-text {
    font-size: 14px;
    padding: 4px 8px 0 8px;
    .comment-count-link {
      font-size: $grid-unit * .75;
    }
    .question-link {
      position: relative;
      margin-right: 0;
    }
    .checkmark, .questionmark {
      margin: 0; 
      position: absolute;
      right: $grid-unit / 2;
      top: (-$question-height) + ($grid-unit/2)
    }
    .questionmark {
      margin: 0 !important;
      left: auto;
    }
    .author {
      bottom: -26px;
    }
    .comment-count-link {
      bottom: -26px;
    }
    &.voting {
      line-height: 20px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      .question-link {
        color: white;
        text-shadow: 2px 2px black;
      }
      .author, .comment-count-link {
        color: white;
        text-shadow: 2px 2px black;
        bottom: 0;
      }
    }
  }
  .question-image {
    padding-left: 0;
    margin-left: 0;
    img {
      width: 100%;
    }
    .rank-triangle {
      right: 0;
    }
  }
  .question-image.voting {
    position: absolute;
  }
  .image-credits {
    width: 100%;
  }
  .question-show-text {
    padding-top: $grid-unit / 2;
  }
  .question-show-text-container {
    padding: 0;
  }
  .answers, .updates, .answer-image, .update-image {
    padding-left: 0;
  }  
  
  .search input#gsc-i-id1.gsc-input {
     font-size: 11px !important;
  }

  #vote-link, #browse-answers-link, #browse-questions-link {
    color: $nice-blue;
  }
}

@media (max-width: 1110px) and (min-width: 768px) {
  .question-image img{
    margin-top: 0px;
    height: 100%;
  }
  
  .search input#gsc-i-id1.gsc-input {
     font-size: 11px !important;
  }

}

.search > div > div {
  border: none;
}

.search input#gsc-i-id1.gsc-input {
    position: relative;
    height: 22px !important;
    top: -2px;
}

.search div#gsc-iw-id1.gsc-input-box {
    height: 32px !important;
 } 

.search input.gsc-search-button-v2 {
    height: 25px;
    width: 67px;
}

@media (max-width: 890px) and (min-width: 768px) {
  .question-text {
    font-size: $grid-unit;
    line-height: 20px;
  } 

  .comment-count-link {
    font-size: $grid-unit * .875; 
  }  
}
