.categories-group {
  clear: right;

  .checkbox-group {
    float:left;
    padding-left: 3px;
    padding-right: 3px;

    label {
      font-weight: normal;
    }
  }
}

.questions {
  padding: $crowded-room;
}

.question {
  background-image: url(bg_dots.png);
  position: relative;
  height: 100px;
  border-top: 1px dotted darkgray;

  &:hover {
    color: $bold-blue;
  }
}

.question-image {
  float: left;
  height: 100%;
  width: 300px;
  position:relative;
  background-position: 0 50%;
  overflow: hidden;

  img {
    position: absolute;
    width: 85%;
  }

  h2 {
    z-index: 1;
    position: absolute;
    right: 20%;
    margin: 0;
    color: white;
  }
}

.question-text {
  overflow:hidden;
  height: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 5px;

  .author {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: $crowded-room;
    margin: 0px;
  }

  &:hover {
    color: $bold-blue;
  }
}

.vote {
  float: left;
  background-position: 0px 0;
  @include set-size(50px, 50px);
  overflow: hidden;
  position: absolute;
  top: 25%;
  left: 230px;
  display: inline-block;
  cursor: pointer;
  background-image: url(votebutton.png);

  &:hover {
    background-position:-51px 0;
    background-color: transparent;
  }
}

.voted {
  background-position: -51px 0;
  background-color: transparent;
  @include set-size(50px, 50px);
  top: 25%;
  left: 230px;
  overflow: hidden;
  position: relative;
  display:inline-block;
  background-image: url(votebutton.png);
}
