$question-height: $grid-unit * 8;

.categories-group {
  clear: right;
  .checkbox-group {
    float:left;
    padding: 0 3px;
    label {
      font-weight: normal;
    }
  }
}

.questions {
  padding-top: $grid-unit;
  padding-bottom: $grid-unit;
}

.question {
  background-image: image_url("bg_dots.png");
  position: relative;
  height: $question-height; 
  border-top: 1px dotted darkgray;
  @include smooth-transitions();
  margin: 2px 0px 2px 0px;
  &.highlight {
    cursor: pointer;
  }
}

.question.hover,.image-container.hover{
  @extend .blue-hover;
  background-image: none;
}

.image-container.hover{
  @extend .blue-hover;
  opacity: 0.5;
}

.comment-count-link.hover {
  color: white;
}

.question-image {
  float: left;
  width: $question-image-width;
  height: $question-height;
  position:relative;
  background-position: 0 50%;
  overflow: hidden;
  img {
    position: absolute;
    width: $voting-round-image-width;
    margin-top: -38px;
  }
  .rank-triangle {
    @include right-triangle(50px, top, right);
    right: $grid-unit * 3;
    top: 0;
  }
}

.answers {
  @extend .responses;
}

.answer-image {
  @extend .response-image;
}

.answer-link {
  @extend %response-link;
}

.answer-text {
  @extend .response-text;
  a {
    position: relative;
    color: $nice-blue;
    text-decoration: underline;
  }
}


.updates {
  @extend .responses;
}

.update-image {
  @extend .response-image;
}

.update-text {
  @extend .response-text;
  a {
    position: relative;
    color: gray;

    &:hover {
      color: #767676;    
      text-decoration: none;
    }
  }

  .update-link {
    @extend %response-link;
  }
}

h2 {
  z-index: 1;
  right: $grid-unit * 4;
  margin: 0;
  color: white;
  &.rank {
    float: right;
    z-index: 2;
    position: relative;
    right: $grid-unit * 5;
    font-size: 25px;
    margin: 5;
    margin-right: -10;
  }
  &.percentage {
    float: right;
    z-index: 2;
    position: relative;
    right: $grid-unit * 3;
    font-size: 25px;
    margin: 10 5px;
  }
}

.image-credits {
  position: absolute;
  bottom: 0;
  padding: 0 5px;
  width: $voting-round-image-width;
  background-image: image_url("bg_black-transparent.png"); 

  a { 
    &:link, &:visited, &:hover {
      color: white;
      font-size: 14px;
    }
  }
}

.question-text {
  overflow:hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin: $grid-unit/2;

  .author {
    position: absolute;
    bottom: 5px;
    left: $question-image-width;
    padding: $grid-unit/2 $grid-unit/2 0 $grid-unit/2;
    margin: 0px;
  }

  .question-link {
    position: absolute;
    left: $question-image-width;
    right: 100px;
    color: black;
    text-decoration: none;

    &.highlight {
      color: $bold-blue;
    }
  }

  .checkmark {
    margin: $grid-unit;
  }
 
  .questionmark {
    @extend %response-image-graphic;
    @include set-size(50px, 50px);
    background-image: image_url("sprites.png");
    background-position: -150px 0px;
    left: 300px;
    margin: $grid-unit !important;
  }
}

#disqus_thread {
  background: white;
  background-image: image_url("bg_dots.png");
  margin-left: $question-image-width;
  padding: $grid-unit;
}

#comments-prompt {
  color: #999;
  line-height: 24px;
  font-weight: normal;
  font-size: 18px; 
  margin-left: $question-image-width;
  margin-top: $grid-unit * 7;
  margin-bottom: $grid-unit * 2;
}

.comment-count-link {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: $grid-unit/2 $grid-unit/2 0 $grid-unit/2;
  margin: 0px;
  font-size: 13px;
}

.popover-link {
  color: $bold-blue;
}

.popover {
  max-width: 500px;
  width: 500px;
}

.comment-guideline {
  position: relative;
  right: $grid-unit;
  color: black;
  font-size: 12px; 
  a {
  float: right;
 }
}

.category-links {
  display: block;
  color: gray;
}

.voting-round-title {
}

.share_button {
  position: absolute;
  top: $grid-unit * 27;
  margin-top: $grid-unit;

}

.about {
  h3 {
    margin-top: $grid-unit;
  }
  img {
    padding: $grid-unit;
    padding-top: $grid-unit * 4;
  }
}

@media (max-width: 1024px) {
  .question {
      height: 200px;
  }
  .question-image {
    height: 200px;
    img {
      margin-top: 0px;
    }
  }
  .share_button{
    top: $grid-unit * 35
  }
  .carousel .carousel-inner .item a img{
    margin-top: 0px
  }
}

.dashboard{
  a {
    color: black;
    text-decoration: none;
  }

  table {
    background-color: whitesmoke;
    padding: $grid-unit/2;
  }
}

.voting-round-navigation {
  padding-top: $grid-unit * 3;
  padding-left: $grid-unit / 2;
}
