.partners {
  border-top: 1px dotted black;  
}

.partners .footer-head {
  color: black;
  width: 100px;
  margin: 15px auto;
  padding-left: 100px; 
}

.sponsor-logos {
  margin: 0px 10%;
}
.logo-small {
  img {
    float: right;
    width: 50px;
    height: auto;
    margin: 3px;
  }
}

.clearfix {
  clear: both;
}

