/*
Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.
*/
.partners {
  margin-top: $grid-unit/2;
  border-top: 1px dotted black;  
}

.partners .footer-head {
  padding-bottom: 5px; 
  text-align: right;
}

.status-bar {
  float: left;
}

.sponsor-logos {
  margin-right: -14px;
}

.modal-footer .status-bar h4 {
  margin-top: -5px;
  text-align: left;
}

.status-bar-1 {
  @include progress-bar(1);
}
.status-bar-2 {
  @include progress-bar(2);
}
.status-bar-3 {
  @include progress-bar(3);
}
