/*
Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.
*/
$user-navigation-menu-height: 30px;
$social-media-logo-size: 18px;

.header-logo {
  position: relative;
  background: black left center;
  border: $grid-unit/2 solid black;
  border-left: 0px;
  border-right: 0px;
  color: $nice-blue;

  .text-link {
    color: $nice-blue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .header-links {
    position: absolute;
    bottom: 10%;
    right: $container-padding;
    img {
      height: $social-media-logo-size;
      width: $social-media-logo-size;
      border-radius: 5px;
      margin-left: 1px;
      background-color: #ececec;
    }
    
    a:nth-child(4) {
      margin-left: 5px;
    }
  }

  img {
    height: $grid-unit * 2;
  }
}

.cc-logo {
  padding: 0;
}

.image-logo {
  margin-top: 30px;
  margin-left: -6px;
  padding-left: 0px;
  padding-right: 0px;
  float: left;
  display: inline-block;
  &:hover {
    background-color: white;
  }
}

.image-logo-large {
  @extend .image-logo;
  margin-left: -14%;
  margin-right: -12%;
  max-width: 150%;
  width: 125%;
}
  
@include faded-placeholder();

.submit-question-btn {
  position: absolute;
  color: white;
  right: $grid-unit * 0.5;
  bottom: $grid-unit * 1.5;
  background-color: darkgray;

  &:hover {
    background-color: $nice-blue;
  }
}
.nav-admin-links {
  clear: both;
}

.nav-admin-links a{
  padding-right: 10px; 
}

#how-it-works {
  background-image: image_url('bg_dots.png');
  display: none;
  padding: $grid-unit 0;
  ul {
    list-style: none;
  }
  p {
    padding-left: $grid-unit * 3;
    margin-right: $grid-unit;
  }
}
#instructions li.step-1{color:#00ccff;}
#instructions li.step-2{color:#12d1bf;}
#instructions li.step-3{color:#21d780;}
#instructions li.step-4{color:#36dc40;}
#instructions li.step-5{color:#48e100;}

.ie8-info {
  background-color: $light-green;
  font-size: 20px;
  line-height: 30px;
  color: $hot-pink;
  font-style: italic;
  padding: 5px 20px;
}

.submit-question-spec-header{
  position: absolute;
  bottom: $grid-unit * 1.5;
  right: $grid-unit * 4;
  color: lightgray;
  font-size: $grid-unit * .8;
}

@media (max-width: $mobile-max-width) {
  .container {
  .ask-question-row {
    position: relative;
    margin: 0;
  }
  .cc-logo > img {
    width: 100%;
  }
  .carrot {
    visibility: hidden;
  }
  .submit-wrap {
    height: calc(100% - 100px);
    width: 100%;
    .submit-question-container {
      height: calc(100% - 100px);
      max-height: $grid-unit * 11;

      .submit-question-btn {
        right: $grid-unit * .5;
        bottom: $grid-unit * .5;
        font-size: $grid-unit * .7;
      }

      .submit-question-spec-header {
        right: $grid-unit * 4;
        bottom: $grid-unit * .5;
        font-size: $grid-unit * .6;
      }
    }
  }
}
}

.admin-search-box {
  padding-top: $grid-unit * 3;
}
