@import "base";
$user-navigation-menu-height: 30px;
$navbar-height: $grid-unit*2;

.header-logo {
  position: relative;
  background: black left center;
  border: $grid-unit/2 solid black;
  border-left: 0px;

  a, & {
    color: $nice-blue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .header-links {
    position: absolute;
    bottom: 20%;
    right: $container-padding;
    img {
      height: $grid-unit;
      width: $grid-unit;
      margin-left: 2px;
      margin-bottom: 4px;
    }
  }

  img {
    height: $grid-unit * 2;
    margin-left: -5px;
  }
}

.image-logo {
  vertical-align: middle;
  padding: $grid-unit*1.5;
  padding-left: 0px;
  padding-right: 0px;
  float: left;
  display: inline-block;
  &:hover {
    background-color: white;
  }
}

  
@include faded-placeholder();

.submit-question-btn {
  position: absolute;
  color: white;
  right: $grid-unit * 1.5;
  bottom: $grid-unit * 1.5;
  background-color: darkgray;

  &:hover {
    background-color: $nice-blue;
  }
}

.navbar {
  height: $navbar-height;
  min-height: $navbar-height;
  background-color: $blue;
  border: 0;
  margin: 0;
  border-radius: 0px;
}

.navbar-nav {
  float: right;

  #up-for-voting-id {
    border-left: 2px solid white;
  }
 
  #up-for-voting-id.highlighted {
    background-color: $nice-blue;
  } 

  & > li > a {
    text-decoration: none;
    display: inline-block;
    border-right: 2px solid white;
    height: $navbar-height;
    min-width: $grid-unit * 15;
    text-align: center;
    padding: $grid-unit/3 $grid-unit; //5px 10px;
    color: white;
    margin-bottom: $grid-unit/2;
    background-color: $light-blue;
  }
}

#answered-investigating-id.highlighted{
    background-color: #03bef5;
}

#new-unanswered-id.highlighted{
    background-color: #03bef5;
}

.dropdown:hover .dropdown-toggle {
  background-color: $hot-pink; 
}

#up-for-voting-id:hover {
  background-color: $hot-pink;
}

.dropdown:hover .dropdown-menu {
  display: inline-block;
  padding-top: 0px;
  border: hot-pink-border();
  border-radius: 5px;
  width: 100%;
}

.dropdown-menu > li > a {
  text-decoration: none;
  &:hover {
    background-color: $nice-blue; 
  }
}

.dropdown .carrot {
  position: relative;
  background-image: image_url('carrot-mini-up.png');
  width: 15px;
  height: 10px;
  top: -10px;
  left: 45%;
}

.dropdown .dropdown-menu > li:nth-child(2) {
  margin-top: -5px;
}

.nav-admin-links {
  clear: both;
}

.nav-admin-links a{
  padding-right: 10px; 
}

#how-it-works {
  background-image: image_url('bg_dots.png');
  display: none;
  padding: $grid-unit 0;
  ul {
    list-style: none;
  }
  p {
    padding-left: $grid-unit * 3;
    margin-right: $grid-unit;
  }
}
#instructions li.step-1{color:#00ccff;}
#instructions li.step-2{color:#12d1bf;}
#instructions li.step-3{color:#21d780;}
#instructions li.step-4{color:#36dc40;}
#instructions li.step-5{color:#48e100;}

.ie8-info {
  background-color: $light-green;
  font-size: 20px;
  line-height: 30px;
  color: $hot-pink;
  font-style: italic;
  padding: 5px 20px;
}

.submit-question-spec-header{
  position: absolute;
  bottom: $grid-unit * 1.5;
  right: $grid-unit * 5;
  color: lightgray;
}
