@import "base";
$user-navigation-menu-height: 30px;
$logo-size: 350px;
$carrot-width: 20px;
$navbar-height: $grid-unit*2;

.header-logo {
  background: black left center;
  border: $grid-unit/2 solid black;
  border-left: 0px;
}

.image-logo {
  float: left;
  width: $logo-size;
  padding: $grid-unit/2;
  padding-left: 0px;
  margin-left: -4px;
}

.submit-wrap {
  position: relative;
  padding: $grid-unit 0 $grid-unit $logo-size;
  
  .carrot {
    position: absolute;
    top: 40%;
    @include set-size($carrot-width, 24px);
    background: url(carrot.png) no-repeat;
  }

  .submit-question-container {
    border: hot-pink-border();
    height: 90px;
    padding: $crowded-room;
    border-radius: 12px;
    margin-left: $carrot-width - 3px;
  }
  
  }
    
@include faded-placeholder();

.submit-question-btn {
  position: absolute;
  color: white;
  right: $grid-unit * 1.5;
  bottom: $grid-unit * 1.5;
  background-color: darkgray;

  &:hover {
    background-color: $nice-blue;
  }
}

.submit-question-text {
  height: 100%;
  border-style:none;
  overflow: hidden;
  resize: none;
  outline: none;
  font-size: 16;
  line-height: 18px;
  width: 90%;
}

.navbar {
  height: $navbar-height;
  min-height: $navbar-height;
  background-color: $nice-blue;
  border: 0;
  margin: 0;
}

.navbar-nav {
  float: right;

  #up-for-voting-id {
    border-left: 2px solid white;
  }

  & > li > a {
    display: inline-block;
    border-right: 2px solid white;
    height: $navbar-height;
    padding: $grid-unit/3 $grid-unit; //5px 10px;
    color: white;
    margin-bottom: $grid-unit/2;
  }
}

.dropdown:hover .dropdown-toggle {
  background-color: $hot-pink; 
}

#up-for-voting-id:hover {
  background-color: $hot-pink;
}

.dropdown:hover .dropdown-menu {
  display: inline-block;
  border: hot-pink-border();
  border-radius: 5px;
  width: 100%;
}

.dropdown-menu > li > a:hover {
  background-color: $nice-blue; 
}

.dropdown .carrot {
  position: relative;
  background-image: url('carrot-mini-up.png');
  width: 15px;
  height: 10px;
  top: -15px;
  left: 45%;
}
