/*
Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.
*/
#ask-question-modal {
  top: 50%;
}

#question-received-modal {
  margin-top: 145px; //this is half the height of the modal. hard-coded. 
}

#search-field {
  height: 30px;
} 

.back-form {
  float: left;
  overflow: hidden;
}

#confirm-question-modal {
  .confirm-question-image {
    height: $question-height;
    width: $question-image-width;
    position:relative;
    background-position: 0 50%;
    overflow: hidden;

    img {
      width: inherit;
    }
  }
}

a#modal-form-back {
  color: ButtonText;
  background-color: ButtonFace;
}

a#modal-form-back:hover {
  background-color: ButtonShadow;
}

.modal-body a {
  color: $bold-blue;
  &:visited {
    color: $nice-blue;
  }
}

.submit-question-spec {
  position: absolute;
  bottom: 5;
  right: 21;
}

#pictures {
  overflow-y: scroll;
  @include set-size(540px, 300px);
  margin: 0 auto;
}

.thumbnail {
  box-sizing: content-box;
  display: inline-block;
  @include set-size(100px, 100px);
  margin: $grid-unit/2;
  position: relative;

  img {
    padding: 5% 0%;
    max-height: 100px;
    max-width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.selected-thumbnail {
  background-color: $nice-blue;
}

#cc-message {
  font-style: italic;
}
