/*
Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.
*/
$navbar-height: $grid-unit*2;
.navbar {
  height: $navbar-height;
  min-height: $navbar-height;
  background-color: $blue;
  border: 0;
  margin: 0;
  border-radius: 0px;
  .navbar-toggle {
    z-index: 1;
    margin: 0;
    height:$grid-unit * 2;
    padding: $grid-unit/3;
    .icon-bar {
      background-color: white;
    }
  }
}

.navbar-ask-button {
  position: relative;
  color: white;
  background-color: $hot-pink;
  height: $grid-unit * 2;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: $grid-unit/2;
  margin-bottom: $grid-unit/2;
  padding: 2px 9px;
  font-size: 18px;
  text-decoration: none;
}

.navbar-collapse {
  padding: 0;
}

#up-for-voting-id {
  border-left: 2px solid white;
}

.navbar-brand {
  padding: 14px 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight:800;
  margin: auto;
  & .radio-station {
    color: black;  
  }
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
}


.navbar-nav {
  padding: 0px;
  width: 66.666%;
 
  & > li:nth-child(1) {
    min-width: 20%;
    width: 25%;
  }

  & > li:nth-child(2) {
    min-width: 40%;
  }

  & > li:nth-child(3) {
    min-width: 30%;
    width: 35%;
  }
  & > li > a {
    text-decoration: none;
    border-right: 2px solid white;
    height: $navbar-height;
    min-width: 100%;
    text-align: center;
    padding: $grid-unit/3 $grid-unit; //5px 10px;
    color: white;
    margin-bottom: $grid-unit/2;
    background-color: $light-blue;
  }
}

.nav a.highlighted{
    background-color: #03bef5;
}

.dropdown:hover .dropdown-toggle {
  background-color: $hot-pink; 
}

ul.nav li a:hover {
  background-color: $hot-pink;
}
.dropdown:hover .dropdown-menu {
  display: inline-block;
  padding-top: 0px;
  border: hot-pink-border();
  border-radius: 5px;
  width: 100%;
}


.dropdown-menu > li > a {
  text-decoration: none;
  &:hover {
    background-color: $nice-blue; 
  }
}

.dropdown .carrot {
  position: relative;
  background-image: image_url('carrot-mini-up.png');
  width: 15px;
  height: 10px;
  top: -10px;
  left: 45%;
}

.dropdown .dropdown-menu > li:nth-child(2) {
  margin-top: -5px;
}

@media(max-width: 1224px) and (min-width: 701px){
  .navbar-nav {
    width: 100%;
  }
}

@media(max-width: $mobile-max-width) {
  .dropdown-menu{
    display: none !important;
  }
  .navbar {
    min-height: 46px;
    height: auto;
  }
  .nav.navbar-nav {
    margin: 0;
    width: 100%;
  }
  .navbar-nav > li > a {
   width: 100%; 
   margin: 0;
   margin-top: -0.5;
   border: none;
  }
  .navbar-collapse {
    border: none;
  }
  .navbar-collapse .navbar-nav > li {
    width: 100%;
    float:right;
  }
  .navbar > .container-padding {
    padding: 0;
  }
  .navbar-header {
    padding-left: 2%;
    padding-right: 2%;
  }
  #up-for-voting-id {
    border: none;
  }

  .navbar .navbar-toggle {
    height: 46px;
  }
}

