body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: $grid-unit;
  line-height: $grid-unit * 1.5;
}

h1, h2, h3 {
  margin-top: $grid-unit * 1;
  margin-bottom: $grid-unit * .5;
}

h4, h5, h6 {
  margin-top: $grid-unit * .5;
  margin-bottom: $grid-unit * .25;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: $grid-unit;
  line-height: $grid-unit * 1.5;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: black;
  &:hover {
    color: $bold-blue;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.alert-notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: $nice_blue;
}

#error_explanation {
  width: 450px;
  border: 2px solid $light_nice_blue;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: $grid-unit * .75;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $nice_blue;
    color: #fff;
  }
  ul li {
    font-size: $grid-unit * .75;
    list-style: square;
  }
}

section p {
  font-size: $grid-unit;
}
