/*
Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.
*/
$question-height: 80px;
$widget-width: 310px;
$widget-height: 370px;
$logo-height: 25px;
$logo-width: 140px;
$rank-width: 20px;
$prompt: 20px;
.widget-container {
  @include set-size($widget-width, $widget-height);
  overflow: hidden;
  border: 1px solid black;
  padding: 5px;
  @include box-sizing(border-box);
}

.border-container{
  @include dotted-line(border); 
  background-image: image_url("brown_pattern.png");
  overflow: hidden;
  text-align: center;
}

.border-container a {
  color: $bold-blue;
}

.widget-image-logo {
  @include set-size($logo-width, $logo-height);
  margin: $grid-unit/2;
}

.widget-container .questions-container {
  height: 215px; 
  @include box-sizing(border-box);
}

.widget-prompt {
  font-size: 20px;
  font-weight: bold;
  color: black;
  line-height: $prompt;
  @include box-sizing(border-box);
  width: 100%;
  margin: 0 auto;
  height: 55px;
  margin-bottom: 10px;
  padding-top: $grid-unit/2;
  font-family: "Calibri Bold", Arial, sans-serif;
}

.widget-subtitle {
  font-size: 14px;
  font-family: "Calibri Bold";
  text-shadow: 1px 1px white;
  color: black;
  text-align: center;
  margin-top: 5px;
}

.widget-question-text {
  position: relative;
  font-family: "Calibri";
  margin: 0px 0;
  margin-left: 26px;
  width: $widget-width - $rank-width - $grid-unit * 2;
  @include box-sizing(border-box);
  background-color: white;
  display: table;
}

.widget-header {
  background-color: #49bee8;
  color: white;
  height: 13px;
  font-size: 10px;
  line-height:12px;
  text-align: left;

  & span{
    color: #ef4044;
  }
}


.widget-blue-hover {
  width: 262px;
  padding-left: 40px;
}

.widget-blue-hover.hover {
  @extend .blue-hover;
}

.widget-question {
  width: 95%;
  margin: 1 $grid-unit/2;
  border-radius: $grid-unit;
  background-position-y: -38px;
  height: 70px;
  position: relative;
  .rank-triangle {
    @include right-triangle(26px, top, right);
    z-index: 2;
    right: 0;
    top: 0px;
  }
  .rank {
    z-index: 3;
    font-size: $grid-unit;
    left: 258;
    color: white;
    position: absolute;
    margin-top: $grid-unit/4;
  }
  .voted {
    position: absolute;
    left: -30px;
    z-index: 1;
    top: -5;
  }
}

.widget-question-text .display-text {
  height: 50px;
  width: inherit;
  display: table-cell;
  font-size: 11px;
  line-height: 15px;
  text-align: left;
  vertical-align: middle;
}

.widget-question-text .vote {
  left: -30px;
  @include set-size(60px, 60px);
  top: -5;
  background-image: image_url("votebutton.png"); 
  overflow: hidden;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  &:hover {
    background-position:-61px 0;
    background-color: transparent;
  }
}

.widget-question-text .voted {
  @include set-size(59px, 60px);
  background-image: image_url("votebutton.png"); 
  background-position: -60px 0;
}

.widget-question-text .not-voted {
  @extend .voted;
  -khtml-opacity:.50; 
  -moz-opacity:.50; 
  -ms-filter:"alpha(opacity=50)";
  filter:alpha(opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
  opacity:.50; 
}

.background-circle {
  @include set-size(73px, 73px);
  position: absolute;
  left: -36px;
  top: -11;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
  background-color: white;
}

.background-circle.hover {
  @extend .blue-hover;
}

.logo-background {
  -moz-border-radius: $grid-unit; 
  -webkit-border-radius: $grid-unit; 
  border-radius: $grid-unit;
  background-color: white;
  box-sizing: content-box;
  padding: 5px;
  margin: 0px;
}

.ask-widget .submit-wrap {
  padding: $grid-unit;

  .char-limit {
    bottom: 20px;
    left: 42px;
    position: absolute;
    color: lightgray;
  }

  .submit-question-container {
    height: 180px;
    background-color: white;

    .submit-question-btn {
      right: $grid-unit * 1.5;
    }
  }
}

.ask-widget .submit-question-text {
  height: 150px;
}

.ask-widget footer{
  color: $bold-blue;
  font-weight: bold;
  margin-bottom: $grid-unit;
}

.logo-widget {
  @extend .logo-small;
  width: 22px;
}

.sponsor-logos-widget {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 57px;
}

.logo-small.tw-logo.logo-widget {
  @extend .logo-small.tw-logo;
  margin-top: 12px;
  width: 60px;
}

.logo-small.kf-logo.logo-widget {
  @extend .logo-small;
  @extend .logo-small.kf-logo;
  width: 22px;
}

.widget-container a {
  color: black;
  font-size: $grid-unit * .75;
  margin-bottom: $grid-unit;
}

.widget-container footer {
  margin: $grid-unit/2;
}
