$question-height: 80px;
$widget-width: 310px;
$widget-height: 370px;
$logo-height: 31px;
$logo-width: 140px;
$rank-width: 20px;
$prompt: 25px;

.widget-container {
  height: $widget-height;
  width: $widget-width;
  overflow: hidden;
  border: 1px solid black;
  padding: 5px;
  box-sizing: border-box;
}

.border-container{
  border: 1px dotted black;
  height: $widget-height - 10px;
  overflow: hidden;
}

.border-container a {
  color: $bold-blue;

  &:hover {
    background-color: white;
  }
}

.border-container {
  text-align: center;
}
.widget-image-logo {
  @include set-size($logo-width, $logo-height);
  margin: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted black;
}

.ask-widget .widget-image-logo {
  @include set-size(250px, 50px); 
}

.widget-container .questions-container {
  height: 245px; 
  box-sizing: border-box;
}

.widget-prompt {
  font-size: 16px;
  color: $bold-blue;
  text-align: center;
  line-height: $prompt;
  box-sizing: border-box;
  border-bottom: 1px dotted black;
  width: 80%;
  margin: 0 auto;
}

.widget-subtitle {
  font-size: 13px;
  color: $bold-blue;
  text-align: center;
}

.widget-question-text {
  height: $question-height;
  position: relative;
  padding: 5px 0px 5px 30px;
  width: $widget-width - $rank-width - $grid-unit * 2;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  display: table;
}

.widget-question {
  width: 95%;
  margin: 1 $grid-unit/2;
  border-radius: $grid-unit;

  .rank-triangle {
    float: right;
    height: 0;
    width: 0;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid black;
    border-left: 30px solid black;
    border-radius: 0 $grid-unit;
    z-index: 2;
    position: absolute;
    opacity: 0.7;
    left: 0;
    bottom: 0;
  }
  .rank {
    z-index: 3;
    padding: $grid-unit/2;
    font-size: 14px;
    color: white;
    position: absolute;
    margin-top: $question-height - $grid-unit*2.5;
  }
  .voted {
    position: absolute;
    left: 20px;
    z-index: 1;
    margin-top: -45px;
  }
}

.widget-question-text .display-text {
  background-image: url('bg_dots.png');
  padding: 3px 5px 3px 30px;
  height: 70px;
  width: 98%;
  display: table-cell;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
  vertical-align: middle;
}



.widget-question-text .vote {
  float: left;
  overflow: hidden;
  display: inline-block;
  top: 15px;
  position: absolute;
  cursor: pointer;
  left: 5px;
  z-index: 1;

  &:hover {
    background-position:-51px 0;
    background-color: transparent;
}
}

.ask-widget .submit-wrap {
  padding: $grid-unit;

  .char-limit {
    bottom: 20px;
    left: 47px;
    position: absolute;
  }

  .submit-question-container {
    height: 180px;

    .submit-question-btn {
      right: $grid-unit * 1.5;
  }
}
}

.ask-widget .footer {
  color: $bold-blue;
  font-weight: bold;
}

