@import 'base';
$question-height: 80px;
$widget-width: 310px;
$widget-height: 370px;
$logo-height: 31px;
$logo-width: 140px;
$rank-width: 20px;
$prompt: 25px;
.widget-container {
  @include set-size($widget-width, $widget-height);
  overflow: hidden;
  border: 1px solid black;
  padding: 5px;
  @include box-sizing(border-box);
}

.border-container{
  @include dotted-line(border); 
  margin: 3px;
  overflow: hidden;
  text-align: center;
}

.border-container a {
  color: $bold-blue;
}

.widget-image-logo {
  @include set-size($logo-width, $logo-height);
  margin: 5px;
  padding-bottom: 5px;
  @include dotted-line(border-bottom);
}

.ask-widget .widget-image-logo {
  @include set-size(250px, 50px); 
}

.widget-container .questions-container {
  height: 245px; 
  @include box-sizing(border-box);
}

.widget-prompt {
  font-size: 16px;
  color: $bold-blue;
  text-align: center;
  line-height: $prompt;
  @include box-sizing(border-box);
  @include dotted-line(border-bottom);
  width: 80%;
  margin: 0 auto;
}

.widget-subtitle {
  font-size: $grid-unit;
  color: $bold-blue;
  text-align: center;
}

.widget-question-text {
  position: relative;
  padding: 5px 0px 5px 30px;
  width: $widget-width - $rank-width - $grid-unit * 2;
  @include box-sizing(border-box);
  display: table;
}

.widget-blue-hover {
  background-image: image_url('bg_dots.png');
  width: 234px;
}

.display-text.hover{
  @extend .blue-hover; 
}

.widget-question {
  width: 95%;
  margin: 1 $grid-unit/2;
  border-radius: $grid-unit;
  background-position-y: -38px;
  height: 80px;
  .rank-triangle {
    @include right-triangle(30px, bottom, left);
    border-radius: 0 $grid-unit;
    z-index: 2;
    left: 0;
    top: 20px;
  }
  .rank {
    z-index: 3;
    padding: $grid-unit/2;
    font-size: $grid-unit;
    color: white;
    position: absolute;
    margin-top: $question-height - $grid-unit*2.5;
  }
  .voted {
    position: absolute;
    left: 6px;
    z-index: 1;
    top: 10px;
  }
}

.widget-question-text .display-text {
  padding: 3px 5px 3px 30px;
  height: 70px;
  width: inherit;
  display: table-cell;
  font-size: 11px;
  line-height: $grid-unit;
  text-align: left;
  vertical-align: middle;
}

.widget-question-text .vote {
  float: left;
  overflow: hidden;
  display: inline-block;
  top: 15px;
  position: absolute;
  cursor: pointer;
  left: 5px;
  z-index: 1;
  &:hover {
    background-position:-51px 0;
    background-color: transparent;
  }
}

.ask-widget .submit-wrap {
  padding: $grid-unit;

  .char-limit {
    bottom: 20px;
    left: 47px;
    position: absolute;
  }

  .submit-question-container {
    height: 180px;

    .submit-question-btn {
      right: $grid-unit * 1.5;
    }
  }
}

.ask-widget footer{
  color: $bold-blue;
  font-weight: bold;
  margin-bottom: $grid-unit;
}

.logo-widget {
  @extend .logo-small;
  width: 22px;
}

.sponsor-logos-widget {
  @extend .sponsor-logos;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 57px;
}

.logo-small.tw-logo-widget {
  @extend .logo-small.tw-logo;
  margin-top: 12px;
  width: 60px;
}

.logo-small.kf-logo-widget {
  @extend .logo-small;
  @extend .logo-small.kf-logo;
  width: 22px;
}
