<footer>
  <%= link_to "Browse Answers", filter_questions_url(status: "answered"), id: "browse-answers-link", target: "_blank" %> |
  <%= link_to "Browse Questions", filter_questions_url(status: "archive"), id: "browse-questions-link", target: "_blank" %>
  <div class="partners clearfix">
    <div class="sponsor-logos-widget">
      <a href="http://www.zeega.com/" target = "blank" >
        <div class="logo-small logo-widget">
          <img src="/assets/zeega_bw.png">
        </div>
      </a>
      <a href="http://www.wyncotefoundation.org/" target = "blank" >
        <div class="logo-small logo-widget">
          <img src="/assets/wyncote_bw.png">
        </div>
      </a>
      <a href="http://www.arts.gov/artworks/" target = "blank" >
        <div class="logo-small logo-widget">
          <img src="/assets/art-works_bw.png">
        </div>
      </a>
      <a href="http://www.macfound.org/" target = "blank" >
        <div class="logo-small logo-widget">
          <img src="/assets/macarthur_bw.gif">
        </div>
      </a>
      <a href="http://www.cpb.org/" target = "blank" >
        <div class="logo-small logo-widget">
          <img src="/assets/cpb_bw.png">
        </div>
      </a>
      <a href="http://www.airmedia.org/" target = "blank" >
        <div class="logo-small logo-widget">
          <img src="/assets/air_bw.png">
        </div>
      </a>
      <a href="http://airmediaworks.org/localore" target = "blank" >
        <div class="logo-small logo-widget">
          <img src="/assets/localore_bw.png">
        </div>
      </a>
      <a href="http://www.knightfoundation.org/" target = "blank" >
        <div class="logo-small kf-logo-widget">
          <img src="/assets/kf_bw.gif">
        </div>
      </a>
      <a href="http://thoughtworks.com" target = "blank" >
        <div class="logo-small tw-logo-widget">
          <img src="/assets/tw-logo.png">
        </div>
      </a>
    </div>
  </div>
</footer>

