<div class="widget-prompt">
  Which would you rather know?    
</div>
<div class="questions-container">
  <% (@questions.sort &sort_proc).each_with_index do |question, index| %>
    <div class="widget-question">
      <% if voted? %>
        <h2 class = "rank" id="rank<%= question.id.to_s %>"><%= (index + 1).ordinalize %></h2>
      <% end %>
      <%= question.display_text %>
      <%= if !voted? then link_to "", widget_vote_path(question_id: question.id, voting_round_id: @voting_round.id), method: :post, class: "vote", id: "vote"+question.id.to_s end %>
      </div>
    <% end %>
  </div>
