.header-logo {
  background-color: black;
  background-image: url(wbez.png);
  background-repeat: no-repeat;
  height: 40px;
  background-position: left center;
  border: 10px solid black;
}

.image-logo {
  max-width: 100%;
}

.question
{
    width:100%;
    -webkit-transition: color,background-color .25s linear;
     transition: color,background-color .25s linear;
    background-color:white;
    background-image:url(bg_dots.png);
    position:relative;
    transition: outline 0.5s;
    -moz-transition: outline 0.5s; /* Firefox 4 */
    -webkit-transition: outline 0.5s; /* Safari and Chrome */
    -o-transition: outline 0.5s; /* Opera */
    outline: 2px solid white;
    border-top: 1px dotted #808184; 
    padding-bottom: 3px;
    margin-bottom: -3px;
}

.question .row {
    border-top: 3px solid white;
}

.question h2 {
    color: #231F20;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}
.question h2 a{
    color: #231F20;
}
.question h2 a:hover {
    color: #44C8F5;
    text-decoration: none;
}

.question-image
{
  float:left;
  height: 100px;
  width: 50%;
  position:relative;
  background:no-repeat;
  background-size: 100%;
  background-position: 0 50%;
  overflow:hidden;
}

.question-image img
{
    position: absolute;
    top: -50%;
    width: 80%;
}

.question-image h2
{
  position: absolute;
  z-index: 1;
  color: white;
}

.question-text {
    overflow:hidden;
}

.question-text .author{
    position: relative;
    float: right;
    padding: 10px
}

.vote
{
  float: left;
  background-position:0px 0;
  height:50px;
  width:50px;
  overflow:hidden;
  position:relative;
  top: 25%;
  left: 80%;
  display: inline-block;
  cursor: pointer;
  background-image: url(votebutton.png);
}

.vote:hover, .vote:active {
  background-position:-51px 0;
  background-color: transparent;
}

.vote.checked{background-position:-150px 0;} 

.voted
{
    background-position: -51px 0;
    background-color: transparent;
    height: 50px;
    width: 50px;
    top: 25%;
    left: 80%;
    overflow: hidden;
    position: relative;
    display:inline-block;
    background-image: url(votebutton.png);
}

.alert-notice {
  color: green;
}

.submit-wrap {
  margin: 1em;
  position: relative;
  width: 60%;
  float: left;
  margin-left: 2em;
}

.submit-wrap .carrot {
  position: absolute;
  top: 25px;
  left: -17px;
  width: 20px;
  height: 24px;
  background: url(carrot.png) no-repeat;
}

.submit-wrap .submit-question-container {
  background: #fffbfe;
  border: 3px solid #ff0066 !important;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  color: black;
  padding: 10px 15px;
  border-radius: 12px;
  -webkit-box-shadow: none !important;
}

.submit-wrap .submit-question-btn {
  position: absolute;
  color: white;
  float:right;
  bottom:1em;
}

.submit-wrap .submit-question-text {
  border-style:none;
  background-color: #fffbfe;
  overflow: hidden;
  resize: none;
  width: 90%;
  height: 4.4em;
  outline: none;
}

.submit-question-text {
  resize: none;
}

::-webkit-input-placeholder {
  font-style: italic;
  color: #CCC;
}
:-moz-placeholder {
  font-style: italic;
  color: #CCC;
}
:-ms-input-placeholder {
  font-style: italic;
  color: #CCC;
}

.checkbox-group {
  float:left;
  padding-left: 3px;
  padding-right: 3px;
}

.checkbox-group > label{
  font-weight: normal;
}

.categories-group {
  clear: right;
}
