<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<% if @voting_round == nil %>
      <p> There is currently no live voting round </p>
    <% else %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Question</th>
      <th>Vote number</th>
      <% if can_remove_question? %>
         <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @voting_round.voting_round_questions.each do |voting_round_question| %>
      <tr class="voting-round-question">
        <td class="display-text">
          <%= voting_round_question.question.display_text %>
        </td>
        <td>
          <%= voting_round_question.vote_number %>
        </td>
          <% if can_remove_question? %>
            <td>
            <%= link_to 'Remove', remove_question_admin_voting_round_path(@voting_round, question_id: voting_round_question.question.id), method: :post, data: { confirm: 'Are you sure?' } %>
            </td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
  <% end %>
