<footer>
  <div class="partners clearfix container-padding">
    <h4 class="footer-head">Partners</h4>
    <%= render partial: 'layouts/logos', locals: { div_class_append: '', img_class_append: '' } %>
  </div>
</footer>
