<footer>
  <div class="partners clearfix">
    <div class="footer-head"><h4>Partners</h4></div>
    <div class="sponsor-logos">
      <a href="http://www.zeega.com/" target = "blank" >
        <div class="logo-small">
          <img src="/assets/zeega_bw.png">
        </div>
      </a>
      <a href="http://www.wyncotefoundation.org/" target = "blank" >
        <div class="logo-small">
          <img src="/assets/wyncote_bw.png">
        </div>
      </a>
      <a href="http://www.arts.gov/artworks/" target = "blank" >
        <div class="logo-small">
          <img src="/assets/art-works_bw.png">
        </div>
      </a>
      <a href="http://www.macfound.org/" target = "blank" >
        <div class="logo-small">
          <img src="/assets/macarthur_bw.gif">
        </div>
      </a>
      <a href="http://www.cpb.org/" target = "blank" >
        <div class="logo-small">
          <img src="/assets/cpb_bw.png">
        </div>
      </a>
      <a href="http://www.airmedia.org/" target = "blank" >
        <div class="logo-small">
          <img src="/assets/air_bw.png">
        </div>
      </a>
      <a href="http://airmediaworks.org/localore" target = "blank" >
        <div class="logo-small">
          <img src="/assets/localore_bw.png">
        </div>
      </a>
      <a href="http://www.knightfoundation.org/" target = "blank" >
        <div class="logo-small kf-logo">
          <img src="/assets/kf_bw.gif">
        </div>
      </a>
      <a href="http://thoughtworks.com" target = "blank" >
        <div class="logo-small tw-logo">
          <img src="/assets/tw-logo.png">
        </div>
      </a>
    </div>
  </div>
</footer>

