<footer>
  <div class="partners clearfix">
    <div class="footer-head"><h4>Partners</h4></div>
    <%= render partial: 'layouts/logos', locals: { div_class_append: '', img_class_append: '' } %>
  </div>
</footer>
