<script>
  (function() {
  var cx = '007393033587324436493:1afflvrucak';
  var gcse = document.createElement('script');
  gcse.type = 'text/javascript';
  gcse.async = true;
  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
  '//www.google.com/cse/cse.js?cx=' + cx;
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(gcse, s);
  })();
</script>
<div class="search-bar hidden-sm hidden-xs"><gcse:search></gcse:search></div>

