<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<footer>
  <table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="2" class="table1">MI Curious is a partner of <a href="http://curiouscity.wbez.org/" target="_new">WBEZ's Curious City</a>, which was founded by Jennifer Brandel and is one of ten Localore productions brought to life by AIR </td>
  </tr>
  <tr>
    <td><img src="http://micurious.michiganradio.org/assets/air_bw.png" height="0" /></td>
    <td><img src="http://micurious.michiganradio.org/assets/localore_bw.png" width="150" height="150" /></td>
  </tr>
</table>
 
</footer>
